[viewBag]

[staticMenu]
code = "main"
==
<header id="header" class="style8">
				<div class="container">
					<div class="row">
						<!-- header top -->
						<div class="col-xs-12 header-top">
							<!-- Number -->
							<nav class="nav language-nav">
                                                            <p> Contact us on: 011111111 </p>
							</nav>
							<!-- social -->
							<nav class="top-nav">
							<ul>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
								
                                                        </ul>
								
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<!-- page logo -->
							<div class="logo">
								<a href="#">
									<img src="{{'assets/images/logo.png'|theme}}" alt="Fekra" class="img-responsive w-logo">
									<img src="{{'assets/images/logo-2.png'|theme}}" alt="Fekra" class="img-responsive b-logo">
								</a>
							</div>
							<div class="holder">
								<!-- icon list -->
								<ul class="list-unstyled icon-list">
									<li><a href="#" class="search-opener opener-icons"><i class="fa fa-search"></i></a></li>
								</ul>
								{% component 'staticMenu' %}
								
								
								<!-- main navigation of the page -->
							
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- search popup -->
			<div class="search-popup win-height">
				<div class="holder">
					<div class="container">
						<div class="row">
							<div class="col-xs-12">
								<a href="#" class="close-btn">close</a>
								<form action="#" class="search-form">
									<fieldset>
										<input type="search" placeholder="search..." class="search">
										<button class="submit"><i class="fa fa-search"></i></button>
									</fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>