[viewBag]
snippetCode = "imprint"
snippetName = "imprint"
snippetProperties[infotext1][title] = "Info Text 1"
snippetProperties[infotext1][type] = "string"
snippetProperties[infotext1][default] = "Suspendisse imperdiet a purus."
snippetProperties[infotext1][options][] = ""
snippetProperties[infotext2][title] = "Info Text 2"
snippetProperties[infotext2][type] = "string"
snippetProperties[infotext2][default] = "Cras laoreet fermentum magna."
snippetProperties[infotext2][options][] = ""
snippetProperties[headertitle][title] = "Header Title"
snippetProperties[headertitle][type] = "string"
snippetProperties[headertitle][default] = "Imprint"
snippetProperties[headertitle][options][] = ""
snippetProperties[copyright][title] = "Copyright"
snippetProperties[copyright][type] = "string"
snippetProperties[copyright][default] = "You need help to customize this theme?"
snippetProperties[copyright][options][] = ""
snippetProperties[copyrighturl][title] = "Copyright Url"
snippetProperties[copyrighturl][type] = "string"
snippetProperties[copyrighturl][default] = "//www.jumplink.eu"
snippetProperties[copyrighturl][options][] = ""
snippetProperties[showcopyright][title] = "Show Copyright"
snippetProperties[showcopyright][type] = "checkbox"
snippetProperties[showcopyright][default] = "false"
snippetProperties[showcopyright][options][] = ""
==
<div id="imprint" data-target="#imprint">
    <div class="container-fluid fg-gray-light subtext">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <div class="display-4">{{infotext1}}</div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-gray-lighter subtext">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <div class="display-4">{{infotext2}}</div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 text-xs-center text-md-left p-y-3">
                <strong><h5>{{headertitle}}</h5></strong>
                <div class="fg-gray-light">
                    <strong>{{ this.theme.company_name }}</strong>
                    <br><a href="tel:{{ str_camel(this.theme.phone_number) }}">{{ this.theme.phone_number }}</a>
                    <br><a href="mailto:{{ this.theme.email_address }}">{{ this.theme.email_address }}</a>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <div class="row">
                    <div class="col-xs-6 p-y-3">
                        <img class="center-block img-fluid" style="max-height: 120px;" src="{{'assets/images/footer_logo_01.svg'|theme}}">
                    </div>
                    <div class="col-xs-6 p-y-3">
                        <img class="center-block img-fluid" style="max-height: 120px;" src="{{'assets/images/footer_logo_02.svg'|theme}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if showcopyright %}
        <div class="container-fluid bg-gray">
            <div class="row">
                <div class="col-xs-12 text-xs-center bg-inverse p-y-1">
                    <a href="{{copyrighturl}}">{{copyright}}</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>