[viewBag]

[staticMenu main]
code = "main"
==
<!-- Nav -->
<nav class="navbar navbar-fixed-top navbar-light bg-white-transparent fg-primary navbar-big" id="main-navbar">
    <button class="navbar-toggler hidden-md-up" type="button">
        &#9776;
    </button>
    <div class="container">
        <a href="/" class="navbar-brand">&nbsp;</a>
        {% partial 'navigation/navbar-items' items=main.menuItems class='nav navbar-nav pull-xs-right hidden-sm-down' itemClass='nav-item' %}
    </div>
</nav>

<!-- http://dcdeiv.github.io/simpler-sidebar/ -->
<div id="sidebar">
    <div id="sidebar-wrapper" class="sidebar-wrapper bg-white fg-primary">
        {% partial 'navigation/sidebar-items' items=main.menuItems class='list-group' itemClass='list-group-item' %}
    </div>
</div>

{% put scripts %}
    <script type="text/javascript" src="{{ 'assets/javascript/partials/navigation.js' |theme }}"></script>
{% endput %}