[viewBag]
snippetCode = "services"
snippetName = "services"
snippetProperties[headertext][title] = "Header Text"
snippetProperties[headertext][type] = "string"
snippetProperties[headertext][default] = "Services"
snippetProperties[headertext][options][] = ""
snippetProperties[headertextblock1][title] = "Header Text Block 1"
snippetProperties[headertextblock1][type] = "string"
snippetProperties[headertextblock1][default] = "Oral Surgery"
snippetProperties[headertextblock1][options][] = ""
snippetProperties[headertextblock2][title] = "Header Text Block 2"
snippetProperties[headertextblock2][type] = "string"
snippetProperties[headertextblock2][default] = "Periodontics"
snippetProperties[headertextblock2][options][] = ""
snippetProperties[headertextblock3][title] = "Header Text Block 3"
snippetProperties[headertextblock3][type] = "string"
snippetProperties[headertextblock3][default] = "Preventative"
snippetProperties[headertextblock3][options][] = ""

[slideshow]
slideshow = 1
numberOfSlide = 5
==
<div class="bg-gray-lighter" id="services" data-target="#services">
    <div class="container text-xs-center p-y-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h2 class="m-b-1">{{ headertext }}</h2>
                <p>{% content 'services/description.htm' %}</p>
            </div>
            <div class="col-xs-12">
                {% if slideshow and slideshow.slideshow %}
                    {% partial 'slideshow' slideshow=slideshow.slideshow id='slideshow2' %}
                {% endif  %}
            </div>
            
            {% for i in 1..3 %}
                <div class="col-xs-12 col-md-4 p-t-2">
                    {% set icon = 'assets/images/icons/' ~ this.theme.color ~ '/service_block_0' ~ i ~ '.svg' %}
                    <img class="center-block p-b-2" src="{{ icon |theme }}">
                    
                    {% if i == 1 %}
                        <h3 class="text-xs-center">{{ headertextblock1 }}</h3>
                    {% elseif i == 2 %}
                        <h3 class="text-xs-center">{{ headertextblock2 }}</h3>
                    {% elseif i == 3 %}
                        <h3 class="text-xs-center">{{ headertextblock3 }}</h3>
                    {% endif %}
                    
                    {% set content = 'services/block' ~ i ~ '.htm' %}
                    {% content content %}
                </div>
            {% endfor %}
            
        </div>
    </div>
</div>