[viewBag]
snippetCode = "header"
snippetName = "header"

[slideshow]
slideshow = 2
numberOfSlide = 5
==
<header id="top" data-target="#top">
    {% if slideshow and slideshow.slideshow %}
        {% partial 'slideshow' slideshow=slideshow.slideshow id='carousel-top-header' %}
        <a class="icon-circle center-block" href="{% if this.page.id != 'home' %}{{'home'|page}}{% endif %}#about" data-toggle="tooltip" data-placement="top" title="Weiter">
            <i class="fa fa-chevron-circle-down"></i>
        </a>
    {% endif %}
</header>