description = "Default layout"

[staticPage]
==
<?php
// TODO wird diese funktion zweimal aufgerufen?
function onMailSent() {
    
    $formVars = [
        'receivermail' => post('receivermail'),
        'receivername' => post('receivername'),
        'succeesstext' => post('succeesstext'),
        'receiverregard' => post('receiverregard'),
        'mailtemplate' => post('mailtemplate'),
        'name' => post('name'),
        'email' => post('email'),
        'regard' => post('regard'),
        'sendermessage' => post('message'),
    ];
    
    $formVars['receiverregard'] = str_replace("{{name}}", $formVars['name'], $formVars['receiverregard']);
    $formVars['receiverregard'] = str_replace("{{regard}}", $formVars['regard'], $formVars['receiverregard']);
    
    $buildOwnerMessage = function ($message) use ($formVars) {
        // TODO use email and name from backend or theme settings
        $message->to($formVars['receivermail'], $formVars['receivername']);
        $message->subject($formVars['receiverregard']);
    };

    // mail to site owner
    Mail::send($formVars['mailtemplate'], $formVars, $buildOwnerMessage);
      
    $this['result'] = $formVars['succeesstext'];
}
?>
==
<!DOCTYPE html>
<html>
<head>

    <title>{{ this.theme.site_name }} - {{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">

    <!-- set the encoding of your site -->
    <meta charset="utf-8">
    <!-- set the viewport width and initial-scale on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- set the title of your site -->
    <title>Global Technology</title>
    <!-- ========= Favicon Icons ========= -->
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
    <!-- include Google fonts  -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic%7CPlayfair+Display:400,400italic,700,700italic,900,900italic%7CRoboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900%7CRaleway:400,100,200,300,500,600,700,800,900%7CGreat+Vibes%7CPoppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
     {% styles %}
        
    <link href="{{ ['assets/css/bootstrap.css',
    'assets/css/font-awesome.min.css',
    'assets/css/page-assets.css',
    'assets/css/helper-elements.css',
    'assets/style.css',
    'assets/css/color/color.css',
    'assets/css/animate.css',
    
    ]|theme }}" rel="stylesheet">
</head>
<body>

<!-- main container of all the page elements -->
<div id="wrapper">
    <div class="w1">
        <!-- header of the page style2 -->
     {% partial "header" %}
        <!--code Content-->
        {# Content #}
        <section id="layout-content">
            {% page %}
        </section>

        <!-- include jQuery library -->
        </div>
		<div class="fa fa-chevron-up" id="gotoTop" style="display: none;"></div>
	</div>
            {% scripts %}
 <script type="text/javascript" src="{{ ['assets/js/jquery-1.11.3.min.js',
    'assets/js/jquery.main.js',
    'assets/js/plugins.js',
    'https://maps.googleapis.com/maps/api/js',    
    ]|theme }}" rel="stylesheet"></script>
    
    </body>
</html>