title = "Index"
url = "/"
layout = "main"
is_hidden = 0
==
<main id="main">

	<!-- shop gallery -->

	<div class="shop-gallery beans-slider" data-rotate="true">
	
		<div class="beans-mask">
		
			<div class="beans-slideset">
			
				<!-- beans-slide -->
			
				<div class="beans-slide">
				
					<div class="stretch"><img src="http://placehold.it/1920x1000" alt="image description" class="fr-dii fr-draggable"></div>
				
					<section class="container">
					
						<div class="row">
						
							<div class="col-xs-12 shop-content win-height">
							
								<header class="shop-heading">

								

									<h1><span class="txt">Canon</span> New</h1>
								
									<div class="button-slider"><a class="btn btn-f-default" href="shop-grid-4column.html">VIEW new</a> <a class="btn btn-f-default" href="shop-grid-3column-leftsidebar.html">VIEW USED</a></div>
									</header>
								</div>
							</div>
						</section>
					</div>
			
				<!-- beans-slide -->
			
				<div class="beans-slide">
				
					<div class="stretch"><img src="http://placehold.it/1920x1000" alt="image description" class="fr-dii fr-draggable"></div>
				
					<section class="container">
					
						<div class="row">
						
							<div class="col-xs-12 shop-content add win-height">
							
								<header class="shop-heading">

								

									<h1>Canon</h1>

								

									<p>Suspendisse et metus eu massa lobortis condimentum sed ut orci. Nullam viverra dapibus risus, eu tristique nisl sollicitudin at. Etiam iaculis blandit libero.</p>
								
									<div class="button-slider"><a class="btn btn-f-default" href="http://fekra.csshunter.com">SHOP NOW</a></div>
									</header>
								</div>
							</div>
						</section>
					</div>
			
				<!-- beans-slide -->
			
				<div class="beans-slide">
				
					<div class="stretch"><img src="http://placehold.it/1920x1000" alt="image description" class="fr-dii fr-draggable"></div>
				
					<section class="container">
					
						<div class="row">
						
							<div class="col-xs-12 shop-content add2 win-height">
							
								<header class="shop-heading">

								

									<h1>Canon</h1>

								

									<p>Suspendisse et metus eu massa lobortis condimentum sed ut orci. Nullam viverra dapibus risus, eu tristique nisl sollicitudin at. Etiam iaculis blandit libero.</p>
								
									<div class="button-slider"><a class="btn btn-f-default" href="http://fekra.csshunter.com">SHOP NOW</a></div>
									</header>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
	
		<div class="beans-pagination">
		
			<br>
		</div>
		</div>

	<!-- collection block -->

	<div class="collection-block dark-bottom-border">
	
		<div class="container">
		
			<div class="row">
			
				<div class="col-sm-8 col-xs-12">
				
					<!-- collection-col -->
				
					<div class="collection-col women" data-animate="fadeInUp" data-delay="300"><img src="http://placehold.it/770x230" alt="image description" class="fr-dii fr-draggable">
						<div class="collection-over">
						
							<div class="frame">
							
								<div class="box">

								

									<h2><span class="txt">WOMEN FASHION</span> COLLECTION</h2><a class="btn-shop" href="shop-checkout.html">SHOP NOW <i class="fa fa-angle-right"></i></a></div>
								</div>
							</div>
						</div>
				
					<div class="row">
					
						<div class="col-sm-6 col-xs-12" data-animate="fadeInUp" data-delay="300">
						
							<!-- collection-col -->
						
							<div class="collection-col"><img src="http://placehold.it/370x231" alt="image description" class="fr-dii fr-draggable">
								<div class="collection-over add">
								
									<div class="frame">
									
										<div class="box">

										

											<h2><span class="txt">GET 10% OFF</span> MEN WEAR</h2><a class="btn-shop" href="shop-checkout.html">FIND NOW <i class="fa fa-angle-right"></i></a></div>
										</div>
									</div>
								</div>
							</div>
					
						<div class="col-sm-6 col-xs-12" data-animate="fadeInUp" data-delay="300">
						
							<!-- collection-col -->
						
							<div class="collection-col"><img src="http://placehold.it/370x231" alt="image description" class="fr-dii fr-draggable">
								<div class="collection-over add">
								
									<div class="frame">
									
										<div class="box">

										

											<h2><span class="txt">SPRING COLLECTION</span> FOR WOMEN</h2><a class="btn-shop" href="shop-checkout.html">BUY NOW <i class="fa fa-angle-right"></i></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			
				<div class="col-sm-4 col-xs-12" data-animate="fadeInUp" data-delay="300">
				
					<!-- collection-col -->
				
					<div class="collection-col"><img src="http://placehold.it/370x490" alt="image description" class="fr-dii fr-draggable">
						<div class="collection-over add2">
						
							<div class="frame">
							
								<div class="box">

								

									<h2><span class="txt">THE 2015</span> COLLECTION</h2><a class="btn-shop" href="shop-checkout.html">VIEW RANGE <i class="fa fa-angle-right"></i></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- product section -->

	<section class="container product-section">
	
		<!-- page heading -->
	
		<header class="page-heading small">
		
			<div class="heading">

			

				<h3 class="heading5 lime text-capitalize font-medium">Latest Products</h3>
				</div>
			</header>
	
		<div class="row product-nav-holder">
		
			<div class="col-xs-12">

			

				<ul class="product-nav list-inline tabset">
				
					<li><a href="#tab1">category1</a></li>
				
					<li class="active"><a href="#tab2">categor2</a></li>
				
					<li><a href="#tab3">categ3</a></li>
				
					<li><a href="#tab4">categ4</a></li>
				
					<li><a href="#tab5">categ5</a></li>
					</ul>
				</div>
			</div>
	
		<div class="row">
		
			<div class="col-xs-12">
			
				<!-- tab content -->
			
				<div class="tab-content">
				
					<!-- tab1 -->
				
					<div id="tab1">
					
						<!-- products-holder -->
					
						<div class="products-holder">
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
							</div>
						</div>
				
					<!-- tab2 -->
				
					<div id="tab2">
					
						<!-- products-holder -->
					
						<div class="products-holder">
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
							</div>
						</div>
				
					<!-- tab3 -->
				
					<div id="tab3">
					
						<!-- products-holder -->
					
						<div class="products-holder">
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
							</div>
						</div>
				
					<!-- tab4 -->
				
					<div id="tab4">
					
						<!-- products-holder -->
					
						<div class="products-holder">
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
							</div>
						</div>
				
					<!-- tab5 -->
				
					<div id="tab5">
					
						<!-- products-holder -->
					
						<div class="products-holder">
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOP</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
						
							<!-- new-product -->
						
							<article class="new-product">
							
								<div class="product-img"><img src="http://placehold.it/270x370" alt="image description" class="fr-dii fr-draggable">
									<div class="product-over">
									
										<div class="frame">
										
											<div class="box"><a class="btn lightbox btn-f-default" href="images/placeholder.jpg">QUICK VIEW</a></div>
											</div>
										</div>
									</div><span class="title">TOPS</span>

								<h2><a href="shop-single.html">Product Name</a></h2>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	<!-- special block -->

	<div class="special-block">
	
		<div class="parallax-holder">
		
			<div class="parallax-frame"><img src="http://placehold.it/1920x1000" height="1000" alt="image description" style="width: 1178px;" class="fr-dii fr-draggable"></div>
			</div>
	
		<div class="container">
		
			<div class="row">
			
				<section class="col-xs-12 special-content">
				
					<div class="special-box">

					

						<h2>About us</h2>

					

						<p>Welcome to WordPress. This is your first post. Edit or delete it, then start bloggin Molestias excepturi sint occaecati cupiditate non provident similique sunt in culpa qui officia deserunt animi id est laborum et dolorum fuga et harum quidem rerum facilis est et expedita distinction.</p><a class="btn btn-f-default" href="http://fekra.csshunter.com">Read more</a></div>
					</section>
				</div>
			</div>
		</div>
</main>
{% partial "footer" %}