title = "products"
url = "/products"
layout = "main"
is_hidden = 0
==
<main id="main" role="main">
				<!-- shop gallery -->
                                
                                <header class="page-banner">
					
					<div class="container">
						<div class="holder">
									<h1 class="heading text-capitalize">Products</h1>
									
								</div>
					</div>
				</header>
                             
				
                                <section class="contact-block shop container">
					<div class="row">
						<div class="col-xs-12">
							<header class="shop-header">
								<div class="holder">
									<h2>PRODUCT NAME</h2>
									<p>Showing <a href="#">1</a> - <a href="#">9</a> of <a href="#">83</a> Results</p>
								</div>
								
							</header>
							<div class="products-shop">
								<div class="products-holder side">
									<!-- shop-product-info -->
									<article class="shop-product-info" data-delay="200" data-animate="fadeInUp">
										<div class="product-img">
											<img class="img-responsive" src="http://placehold.it/270x370" alt="image description">
											<div class="product-over">
												<div class="frame">
													<div class="box">
														<a href="#" class="btn btn-f-default">QUICK VIEW</a>
													</div>
												</div>
											</div>
										</div>
										<div class="produt-txt">
											<h2><a href="#">Product Name</a></h2>
											
											
											<p>Most text editors like MS Word or Lotus Notes generate random lorem text when needed, either as pre-installed module or plug-in to be added. Word selection or sequence don't necessarily match the original, which is intended to add variety. Presentation software like Keynote or Pages use it as a samples for screenplay layout.</p>
											<div class="buttons-box">
												<a href="#" class="btn-cart">[ READ MORE ]</a>
												
											</div>
										</div>
									</article>
									<!-- shop-product-info -->
									<article class="shop-product-info" data-delay="200" data-animate="fadeInUp">
										<div class="product-img">
											<img class="img-responsive" src="http://placehold.it/270x370" alt="image description">
											<div class="product-over">
												<div class="frame">
													<div class="box">
														<a href="#" class="btn btn-f-default">QUICK VIEW</a>
													</div>
												</div>
											</div>
										</div>
										<div class="produt-txt">
											<h2><a href="#">Product Name</a></h2>
											
											<p>Most text editors like MS Word or Lotus Notes generate random lorem text when needed, either as pre-installed module or plug-in to be added. Word selection or sequence don't necessarily match the original, which is intended to add variety. Presentation software like Keynote or Pages use it as a samples for screenplay layout.</p>
											<div class="buttons-box">
												<a href="#" class="btn-cart">[ READ MORE ]</a>
												
											</div>
										</div>
									</article>
									<!-- shop-product-info -->
									<article class="shop-product-info" data-delay="200" data-animate="fadeInUp">
										<div class="product-img">
											<img class="img-responsive" src="http://placehold.it/270x370" alt="image description">
											<div class="product-over">
												<div class="frame">
													<div class="box">
														<a href="#" class="btn btn-f-default">QUICK VIEW</a>
													</div>
												</div>
											</div>
										</div>
										<div class="produt-txt">
											<h2><a href="#">Product Name</a></h2>
											
											<p>Most text editors like MS Word or Lotus Notes generate random lorem text when needed, either as pre-installed module or plug-in to be added. Word selection or sequence don't necessarily match the original, which is intended to add variety. Presentation software like Keynote or Pages use it as a samples for screenplay layout.</p>
											<div class="buttons-box">
												<a href="#" class="btn-cart">[ READ MORE ]</a>
												
											</div>
										</div>
									</article>
									<!-- shop-product-info -->
									<article class="shop-product-info" data-delay="200" data-animate="fadeInUp">
										<div class="product-img">
											<img class="img-responsive" src="http://placehold.it/270x370" alt="image description">
											<div class="product-over">
												<div class="frame">
													<div class="box">
														<a href="#" class="btn btn-f-default">QUICK VIEW</a>
													</div>
												</div>
											</div>
										</div>
										<div class="produt-txt">
											<h2><a href="#">Product Name</a></h2>
											
											<p>Most text editors like MS Word or Lotus Notes generate random lorem text when needed, either as pre-installed module or plug-in to be added. Word selection or sequence don't necessarily match the original, which is intended to add variety. Presentation software like Keynote or Pages use it as a samples for screenplay layout.</p>
											<div class="buttons-box">
												<a href="#" class="btn-cart">[ READ MORE ]</a>
												
											</div>
										</div>
									</article>
									<!-- shop-product-info -->
									<article class="shop-product-info" data-delay="200" data-animate="fadeInUp">
										<div class="product-img">
											<img class="img-responsive" src="http://placehold.it/270x370" alt="image description">
											<div class="product-over">
												<div class="frame">
													<div class="box">
														<a href="#" class="btn btn-f-default">QUICK VIEW</a>
													</div>
												</div>
											</div>
										</div>
										<div class="produt-txt">
											<h2><a href="#">Product Name</a></h2>
											
											<p>Most text editors like MS Word or Lotus Notes generate random lorem text when needed, either as pre-installed module or plug-in to be added. Word selection or sequence don't necessarily match the original, which is intended to add variety. Presentation software like Keynote or Pages use it as a samples for screenplay layout.</p>
											<div class="buttons-box">
												<a href="#" class="btn-cart">[ READ MORE ]</a>
												
											</div>
										</div>
									</article>
									<!-- shop-product-info -->
									<article class="shop-product-info" data-delay="200" data-animate="fadeInUp">
										<div class="product-img">
											<img class="img-responsive" src="http://placehold.it/270x370" alt="image description">
											<div class="product-over">
												<div class="frame">
													<div class="box">
														<a href="#" class="btn btn-f-default">QUICK VIEW</a>
													</div>
												</div>
											</div>
										</div>
										<div class="produt-txt">
											<h2><a href="#">Product Name</a></h2>
											
											<p>Most text editors like MS Word or Lotus Notes generate random lorem text when needed, either as pre-installed module or plug-in to be added. Word selection or sequence don't necessarily match the original, which is intended to add variety. Presentation software like Keynote or Pages use it as a samples for screenplay layout.</p>
											<div class="buttons-box">
												<a href="#" class="btn-cart">[ READ MORE ]</a>
												
											</div>
										</div>
									</article>
								</div>
								<footer class="shop-footer side">
									<ul class="shop-pagination list-inline">
										<li class="prev"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
										<li><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
										<li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
									</ul>
									<div class="txt-box">
										<p>1 - 9 of about 83 results found for <a href="#">Product name</a></p>
									</div>
								</footer>
							</div>
						</div>
					</div>
				</section>
				
				
				
			</main>