title = "singleproduct"
url = "/single-product"
layout = "main"
is_hidden = 0
==
<main id="main" role="main">
				<!-- shop gallery -->
                                
                                <header class="page-banner">
					
					<div class="container">
						<div class="holder">
									<h1 class="heading text-capitalize">Product</h1>
									
								</div>
					</div>
				</header>
                             
				
                              <section class="contact-block shop container">
					<div class="row shop-description">
						<div class="col-sm-6 col-xs-12">
							<!-- beans-stepslider2 -->
							<div class="beans-stepslider2 description">
								<div class="beans-mask">
									<div class="beans-slideset">
										<!-- beans-slide -->
										<div class="beans-slide">
											<img class="img-responsive" alt="image description" src="http://placehold.it/570x510" >
										</div>
										<!-- beans-slide -->
										<div class="beans-slide">
											<img class="img-responsive" alt="image description" src="http://placehold.it/570x510" >
										</div>
										<!-- beans-slide -->
										<div class="beans-slide">
											<img class="img-responsive" alt="image description" src="http://placehold.it/570x510" >
										</div>
										<!-- beans-slide -->
										<div class="beans-slide">
											<img class="img-responsive" alt="image description" src="http://placehold.it/570x510" >
										</div>
									</div>
								</div>
								<div class="beans-pagination">
									<ul class="list-inline">
										<li><img class="img-responsive" alt="image description" src="http://placehold.it/125x145" ></li>
										<li><img class="img-responsive" alt="image description" src="http://placehold.it/125x145" ></li>
										<li><img class="img-responsive" alt="image description" src="http://placehold.it/125x145" ></li>
										<li><img class="img-responsive" alt="image description" src="http://placehold.it/125x145" ></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-xs-12 description-block">
							<header class="description-header">
								<div class="holder">
									<h2>Product Name</h2>
								</div>
								
							</header>
							<p>Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Vivamus adipiscing nisl ut dolor dignissim semper. </p>
							<p>Nulla luctus malesuada tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer enim purus, posuere at ultricies eu, placerat a felis. Suspendisse aliquet urna pretium eros convallis interdum. Quisque in arcu id dui vulputate mollis eget non arcu. Aenean et nulla purus. Mauris vel tellus non nunc mattis lobortis.</p>
							
							
							<ul class="list-inline footer-social">
								<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li class="behance"><a href="#"><i class="fa fa-behance"></i></a></li>
							</ul>
						</div>
					</div>
                                  
                                  
                                  
					
					
				</section>
				
				
				
			</main>
			
			{% partial "footer" %}