$navbar-brand-height: 37px;
$navbar-brand-width: 150px;


.navbar {
    z-index: 3000; // to make it over sidebar mask
    height: $navbar-height;
    opacity: 1;
    transition: all 500ms ease;
    .navbar-brand {
        min-width: $navbar-brand-width;
        height: $navbar-brand-height;
        
        background-image: url(../images/logo/#{$color-dirname}/logo.svg);
        background-repeat: no-repeat;

        background-position: center center;
        background-size: 100% auto;
        
        padding-left: 50px;
        transition: all 500ms ease;
        
    }
    .nav-link {
        transition: padding 500ms ease;
        padding-top: .150rem;
        padding-bottom: .150rem;
    }
    &.bg-white {
        border-bottom: 1px $brand-primary solid;
    }
    &.bg-white-transparent {
        border-bottom: 1px transparent solid;
    }
    &.fg-primary {
        .navbar-nav .nav-link {
            color: transparentize($brand-primary, 0.3);
            &:hover, &.active {
                color: $brand-primary;
            }
        }
    }
    &.navbar-big {
        .navbar-brand {
            // opacity: 0;
        }
    }
}

.navbar-sticky-bottom-element {
  @extend .navbar-sticky-top;
  bottom: 0;
  top: initial;
}


@media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, md)) {
    
    #main-navbar.navbar {
        .container {
            float: right;
            width: 100%;
            margin-left: -100px;
            display: flex;
            padding: 0;
        }
        .navbar-brand {
            margin: 0 auto;
        }
    }
}
