$color-dirname: 'blue' !default;

// bootstrap variables
$link-hover-decoration:      none;
$font-family-sans-serif:    "Source Sans Pro", "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             18px; //default 16px

@import "../vendor/bootstrap/scss/bootstrap.scss";

// font awesome variables
$fa-font-path: '../vendor/font-awesome/fonts';

@import "../vendor/font-awesome/scss/font-awesome.scss";

// own variables
$navbar-height:             54px; // TODO get from bootstrap variables or calc this
$navbar-height-big:         130px;

@import "./animate";
@import "./fonts.scss";
@import "./navbar.scss";
@import "./sidebar.scss";
@import "./sticky.scss";
@import "./location.scss";
@import "./carousel.scss";

/**
 * @see http://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
 */
@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

/**
 * @see http://joshbroton.com/quick-fix-sass-mixins-for-css-keyframe-animations/
 */
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

/**
 * @see https://www.tjvantoll.com/2012/02/20/css3-color-animations/
 */
@include keyframes(color_change_brand-primary) {
	from { color: white; }
	to { color: lighten($brand-primary, 30%); }
}


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4 {
    color: $brand-primary;
}

.display-4 {
    font-size: 2rem;
    font-weight: 400;
}

.bg-brand-primary {
    background-color: $brand-primary;
}

.bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.8);
}

.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-gray-lighter {
    background-color: $gray-lighter;
}

.bg-gray-light {
    background-color: $gray-light;
}


.bg-gray {
    background-color: $gray;
}

.fg-primary {
    color: $brand-primary;
}

.fg-gray-lighter {
    color: $gray-lighter;
    h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4, a {
        color: $gray-lighter;
    }
}

.fg-gray-light {
    color: $gray-light;
    h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4, a {
        color: $gray-light;
    }
}

.fg-gray {
    color: $gray;
    h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4, a {
        color: $gray;
    }
}

.bg-inverse {
    h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4, a {
        @extend .bg-inverse;
    }
} 


.icon-circle {
    border-radius: 50%;
    border: 1px $brand-primary solid;
    
    text-align: center;
    width: 70px;
    height: 70px;
    line-height: 78px;
    margin: 0 auto 20px;
    .fa {
        color: $brand-primary;
        font-size: 30px;
    }
}

:not(nav).bg-brand-primary {
    a {
        &:hover {
            color: $navbar-dark-active-color;
        }
        color: $navbar-dark-color;
    }
}


// javascript links
[onclick] {
    cursor: pointer;
}

// List group
// black list-group-items
.list-group-item {
    &.active-fg-brand-primary {
        &:hover , &.active {
        }
    }
}

.fa {
    &.fa-whatsapp {
        color: #34af23;
    }
    &.fa-facebook-official {
        color: #3b5998;
    }
    &.fa-google-plus {
        color: #dd4b39;
    }
    &.fa-envelope {
        color: white;
    }
    &.fa-mobile {
        color: white;
    }
}

.fadeInLeftOnViewport, .fadeInRightOnViewport {
    opacity: 0;
    &.animationDone {
        opacity: 1;
    } 
}

#WorkInProgress {

}

.home {
    .description {
        background-color: $body-bg;
        .container {
            @extend .p-y-2;
        }
    }
        
    // anker elements with padding with navbar height to avoid scroll position overlap
    [data-target] {
        padding-top: $navbar-height;
        margin-top: -$navbar-height;
        background-clip: content-box;
    }
}
 
#top {
    //&[data-target] {
    //    padding-top: $navbar-height;
    //    margin-top: -$navbar-height - 16px;
    //}
    .icon-circle {
        border-radius: 50%;
        border: none;
        text-align: center;
        width: 50px;
        height: 50px;
        line-height: 58px;
        margin: 0 auto 20px;
        top: -70px;
        position: relative;
        background-color: rgba(0,0,0,0.4);
        .fa {
            color: white;
            font-size: 30px;
            // @include animation('color_change_brand-primary 3s infinite alternate');
        }
    }
}

#about {
    .peace-image {
        max-height: 300px;
    }
    &[data-target] {
        padding-top: $navbar-height;
        margin-top: -$navbar-height - 16px;
    }
}

#contact {

}

.contact-image {
    max-height: 300px;
}
.contact-methods {
    a {
        height: 36px;
        width: 36px;
        .fa {
            font-size: 36px;
            height: 36px;
            &.fa-mobile {
                padding-left: 10px;
            }
        }
    }
}

#imprint {
    .subtext {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
}
