{% if __SELF__.menuItems %}
    <nav id="nav">
	
	<div class="nav-holder">
										<ul class="list-inline nav-top">
        {% partial __SELF__ ~ "::items" items=__SELF__.menuItems %}
		</ul>
		</div>
    </nav>
{% endif %}